
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Payroll</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://youtu.be/5_Blq9W9cT8">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Payroll.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" />
        <style>
            body{
            background-image: url("../images/pay.gif"); 
            width: 1920px;
            height: 1080px;
            }
        </style>
        
    </head>
    <body>
        <div class="atras">
            <center>
                <div class="atras">
                    <div class="container">
                        <div class="principio">
                            <div class="login">
                                <img src="~/images/Logo.png" width="50%" height="50%" /><br /> <br />
                            <a class="botao" asp-controller="Account" asp-action="Login">PAYROLL - Tela de Login</a>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </center>

           
    </div>
    </body>
</html>

   