@model HoleriteListViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="main">
    <div class="text-center">
        <h2>Seja bem-vindo,!</h2>
        <img src="~/images/Logo.png" style="opacity: 0.5" width="85%" height="85%" />
    </div>
</div>
